.user-list-container {
  width: 280%; /* Adjust width as needed */
  margin-left:30px ; /* Center the container */
  margin-right: 20px;
  margin-top: 20px;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-list-title {
  font-size: 28px; /* Reduce font size slightly */
  font-weight: bold;
  color: #201372; /* Change title color to a neutral shade */
  text-align: center;
  margin-bottom: 40px; /* Reduce margin bottom slightly */
}


.user-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* Increase margin bottom */
  padding: 20px;
  border: 2px solid #5e2bff; /* Change border color */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soften box shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-list li:hover {
  transform: translateY(-8px); /* Increase hover lift */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhance hover shadow */
}

.user-list li strong {
  font-size: 20px; /* Increase font size */
  color: #5e2bff; /* Change text color */
  margin-bottom: 10px; /* Increase margin bottom */
}

.user-details {
  font-size: 1.8em; /* Increase font size */
  color: #333; /* Change text color */
}

.delete-button {
  background-color: transparent;
  border: 1px solid #0073ff;
  color: #0073ff;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.delete-button:hover {
  background-color: #00b3ff;
  color: #fff;
  border-color: #0073ff;
}